/* Container
*/

#page {
  width: 90%;
  margin: 0 auto;
}



/* Header 
*/
header h2 {
  font-size: 4.23077em; /* Fibonacci, em */
}
#social li {
  margin-right: 1.25em;
}
#social img {
  width: 64px;
  height: auto;
}


/* Menu 
*/

#access ul ul a {
  width: 15em;
}



/* Starpage
*/

.home #video {
  width: 43.65em;
  margin: 8.6em auto 0; /* Align to grid */
}
.home #video a {
  width: 43.65em; /* the width/height ratio is 1.455 */
  height: 30em;
}
.home #video img {
  top: -17.5em;
  left: 19em;
}
.home #video .info {
  top: -8.3em;  
}


.home #text {
  margin: 1em 0 5em; /* Align to grid */
}

.home #targets {
  margin-top: 2em /* Align to grid */
}

.home #coming-soon ul {
  margin-left: 1.25em;
  font-size: 2.61538em;
}

