
#page.hfeed {
  width: 56.67%; 
}


/* Header 
*/

header .col-1, header .col-2 {
  width: 100%;
}

header#branding {
  margin: 3.75em 0;
}

/* Menu
*/

#access {
  float: right;
}
#access li a {
  padding: 0 1.45em;
}


/* Startpage
*/

.home #primary #text {
  height: 22.5em; /* Align to grid */
}

.home #background-image {
  top: 18em; /* Aligning to grid */
  left: 47%;
}
.home #background-image img {
  height: 30em;
}

