/* Page width 
*/

#page.hfeed {
  width: 56.67%; /* 68em */
  margin: 0 auto;
}

/* Header 
*/
#branding hgroup {
  margin: 2.5em 0 0;
}
header#branding {
  margin-bottom: 2.5em;
}



/* Menu 
*/
#menu {
  margin-top: .9em; /* Aligning back to the grid after the logo */
}
#menu .arrow-right {
  left: 28.5%;  
}
#access {
	margin-left: 28.5%; /* Align to the logo strapline */
}


/* Startpage
*/

.home #background-image {
  top: 21em; /* Aligning to grid */
  left: 47%;
}

