/* Page width 
*/

#page.hfeed {
  width: 70%; 
  margin: 0 auto;
}

/* Header 
*/
#branding hgroup {
  margin: .625em 0 0;
}
header#branding {
  margin-bottom: 0em;
}



/* Menu 
*/
#menu {
  margin-top: 0em; /* Aligning back to the grid after the logo */
}
#menu .arrow-right {
  left: 33.8%;  
}
#access {
	margin-left: 33.8%; /* Align to the logo strapline */
}


/* Startpage
*/

.home #video a {
  margin-top: 2.2em;
}



