
#page.hfeed {
  width: 80%; 
}


/* Header 
*/

header#branding {
  margin: 1.25em 0;
}
header img {
  width: 80%;
  height: auto;
}


/* Main menu
*/


#menu {
  position: relative;
  top: -.6em;
}
#access a {
	padding: 0 1.4em;
}


/* Startpage 
*/

.home #primary .col-1 {
  top: -3em; /* Align to grid */
  position: relative;
}

.home #primary #text {
  padding-top: 0;
}

.home #background-image {
  top: 12em; /* Aligning to grid */
  left: 41%;
}
.home #background-image img {
  height: 25em;
}


