/* Color definitions

- yellow: #ffca00;
  - darker gradient: #ffa100;

    
*/


body {
  font-family: Arial, Helvetica, sans-serif;
  background: url("background.jpg") scroll no-repeat center top transparent;
  color: #333;
}

a {
  color: #333;
}



/* Header 
*/

#branding {
  border-bottom: 1px dotted;
}


/* Main menu 
*/


#access ul ul a {
	background: #f3f3f3;
	border-bottom: 1px dotted #ddd;
}
#access li:hover > a,
#access ul ul :hover > a,
#access a:focus {
	background: #f0f0f0;
}
#access li:hover > a,
#access a:focus {
	background: #f3f3f3;	
}



/* Start page
*/

.home #intro article {
  background: #ffca00;
}


.home #img .companies {
  background: #00ad5d;
}
.home #img .universities {
  background: #94d401;
}
.home #img .agents {
  background: #fbe201;
}
.home #img .schools {
  background: #f9ca02;
}
.home #img .individuals {
  background: #ff9900;
}


.home #txt .companies {
  background: #02752a;
}
.home #txt .universities {
  background: #599f01;
}
.home #txt .agents {
  background: #c8a200;
}
.home #txt .schools {
  background: #c89100;
}
.home #txt .individuals {
  background: #c86e00;
}

.home #icons #txt li {
  color: white;
}



.home #primary #more {
  background: #333;
  color: #ddd;
}
.home #primary #more h2 {
  text-transform: uppercase;
}
.home #primary #more a, .home #primary #more a:visited {
  color: #ddd;
  text-decoration: none;
}
.home #primary #more a:active, .home #primary #more a:hover {
  color: #ddd;
  border-bottom: 1px dotted;
}

.home #sidebar a, .home #sidebar a:visited {
  color: #1C83E2;
  text-decoration: none;
  text-shadow: 0 1px #ccc;
}


/* Footer
*/

footer {
  border-top: 1px solid;
}

footer a, footer a:visited {
  color: black;
  text-decoration: none;
}
footer a:hover, footer a:active {
  border-bottom: 1px dotted;
}

