/* Color definitions


basic color: #1C83E2, blue, taken from the old Languagelab site background color
  - lighter blue: #12C7F9, from kuler
  - red: E73D34, from kuler
  - green / menu: A2AF04, from kuler
    - active: E9FB06, from kuler
      - active highlight: EFFC51, from kuler
    
*/


body {
  font-family: Arial, Helvetica, sans-serif;
}



/* Main menu 
*/

#access li {
  background: #A2AF04;
}
#access li a {
  color: white;
}
#access ul ul a {
	background: #E9FB06;
	border-bottom: 1px dotted #656d02;
	color: #555c02;	
}
#access li:hover > a,
#access ul ul :hover > a,
#access a:focus {
	background: #EFFC51;
}
#access li:hover > a,
#access a:focus {
	background: #E9FB06; /* Show a solid color for older browsers */
	/*
	background: -moz-linear-gradient(#f9f9f9, #e5e5e5);
	background: -o-linear-gradient(#f9f9f9, #e5e5e5);
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#f9f9f9), to(#e5e5e5)); 
	background: -webkit-linear-gradient(#f9f9f9, #e5e5e5);
	*/
	color: #555c02 !important;
}
#access li.current_page_item > a,
#access li.current_page_ancestor > a {
  color: #EFFC51;
}
#access li.current_page_ancestor li.current_page_item > a {
  color: #9DA804;
}



/* Start page
*/

.home #primary #text {
  background: #E73D34;
  color: white;
  font-family: 'Play', sans-serif;
}

.home #primary #more {
  background: #1C83E2;
  color: white;
}
.home #primary #more a, .home #primary #more a:visited {
  color: white;
}



/* Footer
*/

footer {
  border-top: 1px solid;
}
