
#page.hfeed {
  width: 90%; 
}


/* Header 
*/


.col-1 {
  width: 40%;
  margin-right: 10%;
}
.col-2 {
  width: 60%;
}
header#branding {
  margin: 2.5em 0;
}



/* Main menu
*/

#access li a {
  padding: 0 .625em;
}

/* Startpage 
*/

.home #primary #text {
  height: 20.5em; /* Align to grid */
}

.home #background-image {
  top: 1em; /* Aligning to grid */
  left: 48%;
}
.home #background-image img {
  height: 28em;
}

.home #primary #icons {
  margin: 0;
  padding: 0;
}
.home #primary #icons img {
  width: 40%;
}







