/* The grid
*/

#page.hfeed {
  width: 56.67%; 
  margin: 0 auto;
}


.col-1 {
  width: 50%;
  margin-right: 10%;
}
.col-2  {
  width: 40%;
}



/* Header 
*/
#branding hgroup {
  margin: 0;
}
#branding hgroup h1 {
  padding-top: .312em;
}
header#branding {
  margin-bottom: 0em;
}



/* Menu 
*/
#menu {
  margin-top: -.2em; /* Aligning back to the grid after the logo */
}
#menu .arrow-right {
  left: 18.5%;  
}
#access {
	margin-left: 18.5%; /* Align to the logo strapline */
}
#access a {
	padding: 0 1.15em;
}



/* Startpage
*/

.home #primary .col-1 {
  top: -1em; /* Align to grid */
}

.home #primary #text {
  padding: 0 1.25em 1.25em;
  height: auto;
}

.home #background-image {
  top: 13.5em; /* Aligning to grid */
  left: 50%;
}
.home #background-image img {
  height: 22em;
}

.home #primary #icons {
  margin: 0 0 2.5em;
  padding-top: 0;
}
.home #primary #icons li {
  width: 17%;
  margin-right: 3.2%; 
  margin-bottom: .625em; 
}
.home #primary #icons li img {
  width: 40%;
}

