/* Page width 
*/

#page.hfeed {
  width: 56.67%; /* 68em */
  margin: 0 auto;
}

/* Header 
*/
#branding hgroup {
  margin: 1.25em 0 0;
}
header#branding {
  margin-bottom: .625em;
}



/* Menu 
*/
#menu {
  margin-top: 0em; /* Aligning back to the grid after the logo */
}
#menu .arrow-right {
  left: 28.5%;  
}
#access {
	margin-left: 28.5%; /* Align to the logo strapline */
}


/* Startpage
*/


.home #text {
  height: 22.5em; /* Align to grid */
  padding-bottom: 1.25em !important;
  font-size: larger;
}


