/* Color definitions


basic color: #1C83E2, blue, taken from the old Languagelab site background color
  - lighter blue: #12C7F9, from kuler
  - red: E73D34, from kuler
  - green / menu: A2AF04, from kuler
    
*/


body {
  font-family: 'Play', Arial, Helvetica, sans-serif;
  background: url("background.png") scroll repeat 0 0 transparent;
}




/* Main menu 
*/

#access li {
  background: #A2AF04;
}
#access li a {
  color: white;
}
#access ul ul a {
	background: #f3f3f3;
	border-bottom: 1px dotted #ddd;
	color: #1c83e2;	
}
#access li:hover > a,
#access ul ul :hover > a,
#access a:focus {
	background: #f0f0f0;
}
#access li:hover > a,
#access a:focus {
	background: #f3f3f3; /* Show a solid color for older browsers */
	/*
	background: -moz-linear-gradient(#f9f9f9, #e5e5e5);
	background: -o-linear-gradient(#f9f9f9, #e5e5e5);
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#f9f9f9), to(#e5e5e5)); 
	background: -webkit-linear-gradient(#f9f9f9, #e5e5e5);
	*/
	color: #1c83e2 !important;
}
#access li.current_page_item > a,
#access li.current_page_ancestor > a {
  color: #444;
}
#access li.current_page_ancestor li.current_page_item > a {
  color: #A2AF04;
}



/* Start page
*/

.home #primary #text {
  background: #E73D34;
  color: white;
}

.home #primary #more {
  background: #1C83E2;
  color: white;
}
.home #primary #more h2 {
  background: #62A7E7;
  text-transform: uppercase;
  box-shadow: 5px 2px 0 #ddd; 
}
.home #primary #more ul {
  list-style-image: url("arrow-right-white.png");
}
.home #primary #more a, .home #primary #more a:visited {
  color: white;
  text-decoration: none;
}
.home #primary #more a:active, .home #primary #more a:hover {
  color: white;
  border-bottom: 1px dotted;
}

.home #sidebar a, .home #sidebar a:visited {
  color: #1C83E2;
  text-decoration: none;
  text-shadow: 0 1px #ccc;
}


/* Footer
*/

footer {
  border-top: 1px solid;
}

footer a, footer a:visited {
  color: black;
  text-decoration: none;
}
footer a:hover, footer a:active {
  border-bottom: 1px dotted;
}

