#page.hfeed {
  width: 75%; 
  margin: 0 auto;
}

/* Header 
*/
#branding hgroup {
  margin: .625em 0 0;
}
header#branding {
  margin-bottom: 0em;
}



/* Menu 
*/
#menu {
  margin-top: -.2em; /* Aligning back to the grid after the logo */
}
#menu .arrow-right {
  left: 18.5%;  
}
#access {
	margin-left: 18.5%; /* Align to the logo strapline */
}


/* Startpage
*/

.home #video a {
  margin-top: 4.5em;
  width: 26.75em;
  height: 20em;
}

.home #text a, #home #text a:visited {
  text-decoration: none;
  color: white;
  border-bottom: 1px dotted;
}


/* Scroll on Startpage
*/

.home #scroll {
  display: block;
}

