body {
  font-family: Arial, Helvetica, sans-serif;
}



/* The Grid
*/

header {
  width: 33%;
  position: fixed;
}
#main {
  margin-left: 38.195%; /* The Golden ratio */    
}



/* Header
*/

/* Fibonacci, em */
header h1 { font-size:4.23077em; padding:1.29532em 0; }

header h2 {
  font-size: 4.23077em;
  font-family: 'Raleway', Arial, Helvetica, sans-serif;
}



/* Main Menu 
*/

#access ul, ul.nav, ul#menu-sidebar {
	list-style: none;
	margin: 0;
}
#access li {
	float: left;
	position: relative;
	margin-bottom: 0;
}
#access a, ul.nav a, ul#menu-sidebar a {
	display: block;
	line-height: 2.5em;
	padding: 0 1.44em 0 0;
	text-decoration: none;	
}
#access ul ul {
	display: none;
	float: left;
	margin: 0;
	padding: 0;
	position: absolute;
	top: 2.5em;
	left: 0;
	z-index: 99999;
}
#access ul ul li a {
  padding-left: 0;
}
#access ul ul ul {
	left: 100%;
	top: 0;
}
#access ul ul a {
	height: auto;
	line-height: 1.4em;
	padding: .612em;
	width: 15em;
}
#access ul li:hover > ul {
	display: block;
}


/* Social icons
*/

#social {
  position: fixed;
  bottom: 0;
}
#social li {
  margin-right: .625em;
}
#social li.last {
  margin-right: 0;
}



/* Startpage 
*/

.home #video {
  width: 43.65em;
  margin: 8em auto 0;
}
.home #video a {
  display: block;
  width: 43.65em; /* the width/height ratio is 1.455 */
  height: 30em;
  background-image: url("background-video.png");
}
.home #video img {
  position: relative;
  top: -17.5em;
  left: 20em;
}
.home #video .info {
  position: relative;
  width: 100%;
  height: 3em;
  top: -8.3em;
  background: gray;
  opacity: .7;
}
.home #video .info h3 {
  padding: .625em;
}

.home #text, .home #coming-soon {
  width: 38.195%;
  text-align: justify;
  margin-bottom: 5em;
}
.home #targets, .home #sidebar {
  float: right;
  width: 50%;
  margin-left: 11.805%;
}


footer {
  display: none;
}





/* General
*/

.mobile {
  display: none;
}
.desktop {
  display: block;
}

/* hiding TwentyEleven elements */
.assistive-text, .skip-link {
  display: none;
}

/* Setting up block elements (like adding class '.block') */
#content, #primary, #secondary, footer {
  float: left;
  width: 100%;
}

.arrow {  
  position: relative;
  max-width: 1.25em;
}
.arrow img {
  width: 1.25em;
  height: auto;
}
#menu .arrow img {
  width: .625em;
}

#theme-switcher {
  float: right;
  margin-right: 1em;
}
