/* Page width 
*/

#page.hfeed {
  width: 70%; 
  margin: 0 auto;
}

/* Header 
*/
#branding hgroup {
  margin: .625em 0 0;
}
header#branding {
  margin-bottom: 2.5em;
}



/* Menu 
*/
#menu {
  margin-top: 1.25em; /* Aligning back to the grid after the logo */
}
#access {
	margin-left: 33.8%; /* Align to the logo strapline */
}


/* Startpage
*/

.home #text {
  font-size: larger;
}

.home #video a {
  margin-top: 2.2em;
}



